.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  height: 65px;
  display: flex;
  align-items: center;
  box-shadow: 1px 0px 3px rgba(78, 78, 78, 0.2);
}

.nav header {
  flex-basis: 280px;
  align-items: center;
  display: flex;
}

.nav header .logo {
  height: 50px;
  padding-left: 30px;
}
.nav header h3 {
  color: #A20B00;
  font-size: 28px;
  margin-left: 10px;
}

.nav nav {
  flex: auto;
}

.nav nav .navigation {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding-right: 30px;
}

.nav nav .navigation li {
  padding: 0 25px;
}

.nav nav .navigation li a {
  color: #707070;
  font-size: 18px;
}

.nav nav .navigation li a:hover {
  color: #A20B00;
}

.colorRed {
  color: #A20B00;
}
.colorGrey {
  color: #707070;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: centers;
}

.main .textMain {
  flex-direction: column;
  flex-basis: 55%;
  align-items: center;
}

.main .textMain .intro {
  padding-left: 70px;
}

.main .textMain .absImagem {
  height: 85px;
  width: 85px;
}

.main .textMain .mainTitle {
  margin: 0;
  font-size: 38px;
  font-weight: 600;
}

.main .textMain .textInfo {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  margin-right: 30px;
}

.main .imageMain .imageSection {
  height: 454px;
  width: 338px;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  height: 35px;
  padding: 0 30px;
}
.btnPrimary {
  background: #A20B00;
  color: #ffffff;
}

.btnSecondary {
  background: #ffffff;
  color: #A20B00;
  border: 3px solid #A20B00;
}

.footer {
  width: 100%;
  height: 90px;
  /* border-top: 1px solid #eaeaea; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
